/* CSS Document */
body{
background-image:url(../image/background.png);
}
#null{
height:160px;
}
#mainbody{
width:80px;
height:30px;
float:left;
}
.table{
font:"ו";
font-size:24px;
color:#663399;
left:60px;
}
.redFont{
font-size:10px;
color:#FF0000;
font-weight:bold;
}
.greenFont{
font-size:10px;
color:#00CC00;
font-weight:bold;
}

