/* CSS Document */
body{
background-image:url(../image/background.png);
}
#table{
font:"ו";
font-size:24px;
color:#663399;
}
#submit,#reset{
width:80px;
height:30px;
background-color:#CCCCCC;
font-size:16px;
}
.redFont{
font-size:12px;
color:#FF0000;
font-weight:bold;
}
.greenFont{
font-size:12px;
color:#00CC00;
font-weight:bold;
}
.purpleFont{
font-size:12px;
color:#663399;
font-weight:bold;
}